.homeContainer{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.homeTitle{
  width: 1024px;
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  .homeTitle{
    width: 1007px;
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .homeTitle{
    margin-top: 60px !important;
    width: 640px;
    text-align: center;
  }
}