.fp {
  width: 100%;
  max-width: 1024px;
}

.fpItem{
  border-radius: 10px;
  padding: 10px;
}

.fpImg{
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.fpName{
  color: #333;
  font-weight: bold;
}

.fpCity{
  font-weight: 300;
}

.fpPrice{
  font-weight: 500;
}

.fpRating>button{
  background-color: #003580;
  color: white;
  border: none;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
}

.fpRating>span{
  font-size: 14px;
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  .fp{
    max-width: 1007px;
    gap: 10px;
    padding: 0 10px;
  }
  .fpImg{
    height: 150px;
  }
  .fpName{
    font-size: 17px;
  }
  .fpPrice, .fpCity{
    font-size: 14px;
  }
}

@media screen and (max-width: 640px) {
  .fp{
    display: block;
    padding: 0 10px;
  }
  .fpItem{
    margin-bottom: 20px;
  }
}