.header {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 70px;
  background: 
    url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  background-position:bottom;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerTitle{
  font-size: 3.75rem; 
  text-shadow: 2px 2px black;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
  font-size: 20px;
}

.headerListItem {
  color: #444444;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
  .headerListItem:hover{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px;
  }

.headerListItem.active {
  border: 1px solid #e6e6e6;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 10px;
  border-radius: 8px;
}
.headerListItem:hover {
  border: 1px solid #e6e6e6;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.headerDesc {
  margin: 20px 0px;
  font-size: 1.25rem;
}

.headerBtn {
  background-color: rgb(100,57,255);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}
  .headerBtn:hover{
    background-color: rgb(85, 38, 255);
  }


.headerBtn2 {
  background-color: rgb(100,57,255) ;
  color: white;
  font-weight: 500;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

  .headerBtn2:hover{
    background-color: rgb(85, 38, 255);
  }

.headerSearch {
  height: 60px;
  background-color: white;
  border: 3.5px solid #3B82F6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 8px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
  font-size: 20px;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: rgb(134, 126, 126);
  cursor: pointer;
}
.span{
  text-shadow: 1.5px 1.5px black;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  .headerContainer {
    max-width: 1007px;
    margin: 20px 20px 100px 20px;
  }
  .headerList {
    gap: 20px;
  }
  .headerListItem>span {
    font-size: 12px;
  }
  .headerSearch {
    width: 94%;
    max-width: 1007px;
  }
  .headerSearchItem {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
  }
  .headerBtn2 {
    background-color: rgb(100,57,255) ;
    color: white;
    font-weight: 500;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 12px 10px;
    cursor: pointer;
  }
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 640px) {
  .headerContainer {
    padding: 0 20px 0 20px;
  }
  .headerTitle{
    font-size: 2.75rem; 
  }
  .headerList {
    gap: 40px;
  }
  .headerListItem>span {
    display: none;
  }
  .headerSearch {
    display: block;
    width: 350px;
    height: 140px;
  }
  .headerSearchItem {
    place-content: center;
    margin-bottom: 15px;
    gap: 20px;
  }
  .headerBtn2 {
    margin-top: 8px;
    border-radius: 5px;
    
  }
  .date {
    top: 100px;
  }
  .options {
    top: 140px;
  }
}